@import url('https://fonts.googleapis.com/css2?family=Poppins');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .svgimg {
    float: right; 
  }
  h2 {
    padding-top: 80px;
    font-size: 45px;
    font-family: 'Poppins';
  }
  h3 {
    font-size: 35px;
    color: #410B5F;
    font-family: 'Poppins';
  }
  p {
    font-size: 28px;
    font-family: 'Poppins';
  }
  .p1 {
    font-size: 20px;
    color: #410B5F;
  }
  svg {
    padding-top: 40px;
  }
  .clearfix {
    overflow: auto;
  }
  .color
  {
    position:relative;
    background-color: #3F235F;
    width:100%;
    padding: 220px;
  }
  .absolute {
    position: absolute;
    top: -20px;
    width: 100%;
    padding: 40px;
    margin-left: 5px;
  }
  .responsive1{
    justify-content: space-between;
    padding-top: 20px;
  }
  .responsive2{
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
  }
 .container1
 {
    box-shadow: 0px 3px 6px #00000029;
    width: 100%;
    background-color: rgb(250, 252, 251);
    padding: 40px;
    padding-left: 50px;
    margin-left: -10px;
    border-radius: 26px 26px;
 }
 .container2 {
    box-shadow: 0px 3px 6px #00000029;
    width: 50%;
    background-color: rgb(249, 252, 251);
    padding: 50px;
    padding-top: 40px;
    margin-left: -15px;
    border-radius: 26px 26px;
    text-align: center;
 }
 @media only screen and (max-width:3000px) {
    .color {
      width: 100%;
      padding: 360px;
    }
    .container1 {
      width: 100%;
      padding: 50px;
    }
    .container2 {
      width: 50%;
      padding: 50px;
    }
    .absolute {
      flex-direction: row;
    }
   }
 @media only screen and (max-width:820px) {
  .color {
    width: 100%;
    padding: 330px;
  }
  .container1 {
    width: 100%;
    padding: 50px;
  }
  .container2 {
    width: 50%;
    padding: 50px;
  }
  .absolute {
    flex-direction: row;
  }
 }
 @media only screen and (max-width:768px) {
  .color {
    width: 100%;
    padding: 320px;
  }
  .container1 {
    width: 100%;
    padding: 50px;
  }
  .container2 {
    width: 50%;
    padding: 50px;
  }
 }
 @media only screen and (max-width:650px) {
  .color {
    width: 100%;
    padding: 380px;
  }
  .container1 {
    width: 120%;
    padding: 50px;
  }
  .container2 {
    width: 70%;
    padding: 50px;
  }
 }
 @media only screen and (max-width:537px) {
  .color {
    width: 100%;
    padding: 380px;
  }
  .container1 {
    width: 140%;
    padding: 50px;
  }
  .container2 {
    width: 80%;
    padding: 50px;
  }
 }
 @media only screen and (max-width:375px) {
  .color {
    width: 100%;
    padding: 380px;
  }
  .container1 {
    width: 160%;
    padding: 50px;
  }
  .container2 {
    width: 100%;
    padding: 50px;
  }
 }